body {
    display: grid;
    grid-template-areas: 
    "header header navbar"
    "content content content"
    "map map map"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20%, 40vh, 100px, 10%;
    background-color: #faf6ce72;
}

.header {
    grid-area: header;
    display: flex;
}

.navbar {
    grid-area: navbar;
    display: flex;
    background-color: #700303;
  }

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
}



.content p {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.content h2 {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}


.map{
    grid-area: map;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 10px;
}

.map h2 {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    display: block;
}  

.map iframe {
    margin-left: 15px;
    width: 80%;
    aspect-ratio: 16 / 9;
    border: 0;
    margin-right: 15px;
    justify-self: center;


}

.footer {
    grid-area: footer;
    display: flex;
    background-color: #700303;
    color: white;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}


.footer span {
    display: inline-block;
}
 
hr {
    width: 97vw;
    margin-left: 5px;
    color: black;

}

  