body {
    display: grid;
    grid-template-areas: 
    "header header navbar"
    "container container container"
    "content content content"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20%, 40vh, 100px, 10%;
    background-color: #faf6ce72;
}

.container {
    grid-area: container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 1rem;
 
}

.hero {
    position: relative;
    height: 125vh;
    width: 80%;
    max-width: 1200px;
  margin-bottom: 2rem;
}

.background {
    background-image: url('./IMG-c01.JPG');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 80%;
    position: absolute;
    border-radius: 20px;
    z-index: 1;
}

.overlay {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50pt;
}

hr {
    width: 90vw;
    border: 2px solid black;

}

.header {
    grid-area: header;
    display: flex;
}


.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    background-color: #700303;
}

.navbar nav {
    align-content: center;
    justify-content: center;
    justify-items: right;
    align-self: baseline;
    padding: 20px;
}


.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.hidden {
    display: none;
}

.content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    text-align: justify;
    color: #700303;
    text-decoration: underline;
}

.content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin-left: 20px;
    padding: 5px;
    text-align: justify;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    text-align: justify;
}

.content li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    text-align: justify;
}

