body {
    display: grid;
    grid-template-areas: 
    "header header navbar"
    "reviews reviews reviews"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20%, 40vh, 100px, 10%;
    background-color: #faf6ce72;
}

.header {
    grid-area: header;
    display: flex;
}

.navbar {
    grid-area: navbar;
    display: flex;
    background-color: #700303;
  }

.review-form {
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
}

.reviews {
    grid-area: reviews;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
  }
  
  .reviews h2 {
    margin-bottom: 1rem;
  }
  
  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 2rem;
  }
  
  .review-item {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .review-item p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1rem;
  }
  
  .review-item span {
    font-size: 1rem;
    font-weight: bold;
    color: #700303;
  }
  
  .review-form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .review-form h3 {
    margin-bottom: 1rem;
    color: #700303;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
  }
  
  .review-form textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 3px solid #700303;
    font-size: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .review-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 3px solid #700303;
    font-size: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .review-form button {
    width: 100%;
    padding: 10px;
    border: 3px solid #700303;
    border-radius: 40px;
    background-color: #700303;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .review-form button:hover {
    background-color: #0d0084;
    border: 3px solid #0d0084;
  }
  
.footer {
    grid-area: footer;
    display: flex;
    background-color: #700303;
    color: white;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}


.footer span {
    display: inline-block;
}
 


  